/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.countdown {
  font-size: 2em;
  padding: 5px;
  margin: 0 auto;
  color: teal; }

@keyframes floating {
  0% {
    top: 5px; }
  25% {
    top: -5px; }
  50% {
    top: 5px; }
  75% {
    top: -5px; }
  100% {
    top: 5px; } }

@keyframes wiggle {
  0% {
    left: 5px; }
  25% {
    left: -5px; }
  50% {
    left: 5px; }
  75% {
    left: -5px; }
  100% {
    left: 5px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }


.round-one-cards {
  width: 100%;
  display: flex;
  justify-content: center; }

.round-two-cards {
  display: flex;
  width: 100%;
  height: 100vh; }

.column {
  display: flex;
  flex-direction: column; }

.column:nth-child(1) {
  justify-content: space-around; }

.column:nth-child(2) {
  align-self: center; }

.column:nth-child(3) {
  align-self: center; }

.column:nth-child(4) {
  justify-content: space-around; }

.round-three-cards {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: lightgray; }

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.column .memory-card:nth-child(1) {
  align-self: flex-start; }

.column .memory-card:nth-child(2) {
  align-self: flex-end; }

.column:nth-child(2) {
  justify-content: space-around; }

.column:nth-child(3) {
  align-self: center; }

.column:nth-child(4) {
  justify-content: space-between; }

.column:nth-child(5) {
  align-self: center; }

.column:nth-child(6) {
  justify-content: space-around; }

.column .memory-card:nth-child(7) {
  align-self: flex-end; }

.round-four-cards {
  display: flex;
  width: 100%;
  height: 100vh; }

.memory-card {
  display: flex;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  background-color: teal;
  margin: 30px 30px; }

#new-game {
  background-image: url(../img/landscape/spheres.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.new-game-foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69%;
  height: 66%;
  background-color: #0000009e;
  position: absolute;
  padding: 98px; }

form#new-game-start {
  width: 100%;
  height: 111px;
  text-align: center; }

button {
  width: 19%;
  height: 50px;
  font-size: 28px;
  background-color: hotpink;
  border-radius: 10px; }

input#player-name {
  width: 100%;
  height: 100%;
  margin-bottom: 47px;
  font-size: 50px;
  border-radius: 20px; }

#level-1 {
  background-image: url(../img/landscape/geoplane.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.level-1-foreground {
  width: 69%;
  height: 66%;
  background-color: #ffffff3d; }

#level-2 {
  background-image: url(../img/landscape/ocean.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.level-2-foreground {
  width: 69%;
  height: 66%;
  background-color: #ffffff3d; }

#level-3 {
  background-image: url(../img/landscape/storm.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.level-3-foreground {
  width: 69%;
  height: 66%;
  background-color: #ffffff3d; }

#level-4 {
  background-image: url(../img/landscape/tree.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.level-4-foreground {
  width: 69%;
  height: 66%;
  background-color: #ffffff3d; }

#level-5 {
  background-image: url(../img/landscape/birds.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.level-5-foreground {
  width: 69%;
  height: 66%;
  background-color: #ffffff3d; }

/*# sourceMappingURL=styles.css.map */
