@mixin rotate-y($rotate) {
  -webkit-transform: rotateY($rotate);
  -moz-transform: rotateY($rotate);
  -ms-transform: rotateY($rotate);
  transform: rotateY($rotate);
}
@mixin rotate-x($rotate) {
  -webkit-transform: rotatex($rotate);
  -moz-transform: rotatex($rotate);
  -ms-transform: rotatex($rotate);
  transform: rotatex($rotate);
}
@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  transform: rotate($rotate);
}
@keyframes floating {
  0% {
    top: 5px;
  }
  25% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  75% {
    top: -5px;
  }
  100% {
    top: 5px;
  }
}
@keyframes wiggle {
  0% {
    left: 5px;
  }
  25% {
    left: -5px;
  }
  50% {
    left: 5px;
  }
  75% {
    left: -5px;
  }
  100% {
    left: 5px;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(.75);
  }

  50% {
    transform: scale(.50);
  }
  75% {
    transform: scale(.25);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-320deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
