// Rotating mixins
@mixin rotate-y($rotate) {
  transform: rotatey($rotate);
}
@mixin rotate-x($rotate) {
  -webkit-transform: rotatex($rotate);
  -moz-transform: rotatex($rotate);
  -ms-transform: rotatex($rotate);
  transform: rotatex($rotate);
}
@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  transform: rotate($rotate);
}
// classis with animation
@for $i from 1 through 32 {
  $number1: random(500) + ms;
  $number2: random(20) / 10;
  $number3: $number2 + 5s;
  .card-#{$i}{
    position: relative;
    transition: transform 1.2s;
    animation: floating $number3 $number1 infinite;
  }
}




// Car back animation
$scale-1: 90px;
$scale-2: 80px;
$scale-3: 30px;
$line: white;
$wheel: black;

.icon-card {
  position: relative;
  width: $scale-1;
  height: $scale-1;
  .out {
    position: absolute;
    width: $scale-1;
    height: $scale-1;
    border-radius: 50%;
    background-color: $wheel;
    .div-con {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .one, .two {
      position: relative;
      background-color: $line;
      width: $scale-1;
      height: $scale-1 - $scale-2;
    }
    .one {
      transform: rotate(90deg);
    }
  }
  .in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $scale-1 - $scale-3;
    height: $scale-1 - $scale-3;
    border-radius: 50%;
    background-color: $wheel;
    .div-con {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .one, .two {
      position: relative;
      border-radius: 5px;
      background-color: $line;
      width: $scale-1 - $scale-3;
      height: $scale-1 - $scale-2;
    }
    .one {
      transform: rotate(45deg);
    }
    .two {
      transform: rotate(-45deg);
    }
  }
}
.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate-left 1.3s linear infinite;
}
.icon-card {
    animation: rotate-right 3s linear infinite;
}
// floating animation
@keyframes floating {
  0% {
    top: 5px;
  }
  25% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  75% {
    top: -5px;
  }
  100% {
    top: 5px;
  }
}
@keyframes wiggle {
  0% {
    left: 15px;
  }
  25% {
    left: -15px;
  }
  50% {
    left: 15px;
  }
  75% {
    left: -15px;
  }
  100% {
    left: 15px;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(.75);
  }

  50% {
    transform: scale(.50);
  }
  75% {
    transform: scale(.25);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-320deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
