#level-5 {
  background-image: url(../img/landscape/birds.jpg);
  @include level-board-size;
  // display: none;
}

.level-5-foreground {
  width: 69%;
  height: 66%;
  background-color: #ffffff3d;
}
