#level-1 {
  .memory-card {
    width: 250px;
    height: 350px;
    @include card-flex-style;
  }
}

#level-2 {
  .memory-card {
    width: 250px;
    height: 350px;
    @include card-flex-style;
  }
}
#level-3 {
  .memory-card {
    width: 250px;
    height: 350px;
    @include card-flex-style;
  }
}
#level-4 {
  .memory-card {
    width: 140px;
    height: 200px;
    @include card-flex-style;
  }
}
#level-5 {
  .memory-card {
    width: 50px;
    height: 75px;
    @include card-flex-style;
  }
}
