
@font-face {
    font-family: 'arcadeclassicregular';
    src: url('../fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('../fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
